<footer class="bg-natural-95  ">
    <div class="container border-top py-lg-6 py-5">
        <div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-between align-items-center">
            <nav class="mb-lg-0 mb-2">
                <ul class="d-flex flex-wrap align-items-center justify-content-center list-unstyled gap-5 mb-0">
                    <li class=""><a href="plans.html" class="text-decoration-none text-dark py-2 px-lg-5 px-4">服務方案</a></li>
                    <li class=""><a href="about.html" class="text-decoration-none text-dark py-2 px-lg-5 px-4">關於職旅</a></li>
                    <li class=""><a href="contact.html" class="text-decoration-none text-dark py-2 px-lg-5 px-4">聯絡我們</a></li>
                    <li class=""><a href="privacy-policy.html" class="text-decoration-none text-dark py-2 px-lg-5 px-4">隱私權政策</a></li>
                    <li class=""><a href="terms-of-service.html" class="text-decoration-none text-dark py-2 px-lg-5 px-4">用戶條款</a></li>
                </ul>
            </nav>
            
            <div class=" py-2">
                <p class="text-natural-50 fs-7">Copyright © 2025 職旅 workway. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>