.avatar-img{
  width: 44px;
  height: 44px;
}

.btn-login-me-auto{
  @include mobile{
		margin-left: auto;
	};
}

.logo{
  @include mobile{
		height: 36px;
	};
}



/* header 專用樣式 */
.nav-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.nav-link { color:#333; }
.nav-link:hover { color:#0d6efd; }

.bg-natural-95 { background-color: #F0F3F5; }